#hero {
    background-image: url('../images/affiliate-tiktok-shop-banner.png');
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); /* Điều chỉnh độ mờ ở đây */
    z-index: 1;
}

#hero .container {
    position: relative;
    z-index: 2; /* Đảm bảo nội dung nằm trên lớp phủ */
}

#hero h1, #hero p {
    z-index: 2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
}

.card-title {
    font-weight: bold;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

#register {
    background-color: #343a40;
}

footer {
    background-color: #f8f9fa;
}

.icon {
    margin-bottom: 15px;
}

.card-body {
    padding: 30px;
    border: 1px solid #e0e0e0;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 15px;
}

.card-text {
    color: #666;
}

h2 {
    font-weight: bold;
}

.text-palegreen {
    color: palegreen;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.icon {
    transition: color 0.3s ease;
}

.card:hover .icon i {
    color: #ff8c00;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.card-text ul {
    padding-left: 0;
    list-style-type: none;
}

.card-text ul li {
    margin-bottom: 0.5rem;
}